.galeria {
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    box-shadow: 4px 4px 0px 0px $white;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    &__button {
      position: relative;
      display: flex;
      justify-content: center;
      border: 4px solid $red;
      border-radius: 15px;
      overflow: hidden;
      transition: all ease-in-out 0.3s;

      &:hover {
        cursor: pointer;
        border: none;
        transform: scale(1.02);
      }

      img {
        width: 100%;
      }

      p {
        position: absolute;
        bottom: 0;
        color: $white;
        background-color: $red;
        border-radius: 13px;
        font-family: $passion;
        text-transform: uppercase;
        box-shadow: 3px 3px 0px 0px $black;
        text-align: center;

        &:hover {
          background-color: $black;
          color: $red;
          box-shadow: 3px 3px 0px 0px $red;
        }

      }
    }
  }
}

.book {
  width: 100%;

  &__data-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__data {

      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: $red;
      }
    }
  }

  .carousel {
    border: 4px solid $white;

    &-control-prev,
    &-control-next {
      &-icon {
        filter: invert(40%) sepia(100%) saturate(4981%) hue-rotate(342deg) brightness(100%) contrast(100%);
      }
    }
  }
}


@media only screen and (max-width: 640px) {
  .galeria {

    &__buttons {
      width: 100%;
      justify-content: space-around;

      &__button {
        width: 47%;

        p {
          width: 60%;
          padding: 2px;
        }
      }
    }
  }

  .book {
    &__data-container__data {
      width: 43%;

      p {
        text-align: center;
      }
    }
  }

}

@media only screen and (min-width: 641px) {
  .galeria {

    &__buttons {
      width: 90%;
      justify-content: space-around;

      &__button {
        width: 45%;

        p {
          width: 60%;
          padding: 2px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .book {
    &__data-container__data {
      width: 27%;

      p {
        text-align: center;
      }
    }

    .carousel {
      width: 80%;

      &-control-prev,
      &-control-next {
        &-icon {
          filter: invert(40%) sepia(100%) saturate(4981%) hue-rotate(342deg) brightness(100%) contrast(100%);
        }
      }
    }
  }

}