.index {
  background-color: $black;
  color: $white;

  .portfolio {
    font-family: $passion;
    color: $red;
    margin-bottom: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style-type: none;
      font-family: $passion;
    }
  }

  .index__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//Solo para celu
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3.1rem;
  }

  img {
    width: 80%;
  }

  .portfolio {
    font-size: 2.7rem;
    margin-top: 1rem;
    padding-bottom: 0;
    height: fit-content;
  }

  ul {
    width: 100%;
    justify-content: center;
    margin-top: -0.3rem;
    margin-bottom: 1rem;

    li {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      margin-top: -0.5rem;
    }
  }

  .index__buttons {
    width: 100%;
  }
}

//Tablet
@media only screen and (min-width: 641px) {
  h1 {
    font-size: 3.3rem;
  }

  img {
    width: 70%;
  }

  .portfolio {
    font-size: 3.3rem;
    margin-top: 1rem;
    padding-bottom: 0;
    height: fit-content;
  }

  ul {
    width: 100%;
    justify-content: center;
    margin-top: -0.3rem;
    margin-bottom: 1rem;

    li {
      margin-right: 0.5rem;
      font-size: 1.8rem;
      margin-top: -0.5rem;
    }
  }

  .index__buttons {
    width: 70%;
  }
}

//Notebook
@media only screen and (min-width: 992px) {}

//Compu
@media only screen and (min-width: 1200px) {}

//Monitor gigante
@media only screen and (min-width: 1400px) {}