.index {
  background-color: $black;
  color: $white;

  .portfolio {
    font-family: $passion;
    color: $red;
    margin-bottom: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style-type: none;
      font-family: $passion;
    }
  }

  .index__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//Solo para celu
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3.1rem;
  }

  img {
    width: 80%;
  }

  .portfolio {
    font-size: 2.7rem;
    margin-top: 1rem;
    padding-bottom: 0;
    height: fit-content;
  }

  ul {
    width: 100%;
    justify-content: center;
    margin-top: -0.3rem;
    margin-bottom: 1rem;

    li {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      margin-top: -0.5rem;
    }
  }

  .index__buttons {
    width: 100%;
  }
}

//Tablet
@media only screen and (min-width: 641px) {
  h1 {
    font-size: 3.3rem;
  }

  img {
    width: 70%;
  }

  .portfolio {
    font-size: 3.3rem;
    margin-top: 1rem;
    padding-bottom: 0;
    height: fit-content;
  }

  ul {
    width: 100%;
    justify-content: center;
    margin-top: -0.3rem;
    margin-bottom: 1rem;

    li {
      margin-right: 0.5rem;
      font-size: 1.8rem;
      margin-top: -0.5rem;
    }
  }

  .index__buttons {
    width: 70%;
  }
}

//Notebook
@media only screen and (min-width: 992px) {
  .index--desktop {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 4rem 6rem;

    img {
      width: 30%;
      max-width: 300px;
      margin-right: 3rem;
      border: 6px solid $red;
    }

    &__textos {

      .portfolio {
        font-family: $passion;
        color: $red;
        margin-top: -20px;
        font-size: 5.625rem;
        height: fit-content;
        margin-bottom: -40px;
      }

      h1 {
        font-size: 6rem;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin-top: -20px;

        li {
          list-style-type: none;
          font-family: $passion;
          font-size: 1.6rem;
        }
      }

      .index__buttons {
        width: 90%;
        max-width: 550px;
        display: flex;
        justify-content: space-between;

        a {
          padding: 10px 23px;
        }
      }
    }
  }

}

//Compu
@media only screen and (min-width: 1300px) {}

//Monitor gigante
@media only screen and (min-width: 1400px) {}