.obras {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.95);
  color: $white;
  max-height: 100vh;
  overflow-y: auto !important;

  &-container {
    display: flex;
  }
}

.obra--abierta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.95);
  color: $white;
  max-height: 100vh;
  overflow-y: auto !important;
}