.obras {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.95);
  color: $white;
  max-height: 100vh;
  overflow-y: auto !important;

  &-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__obra {
      border: 2px solid $red;
      margin-bottom: 2rem;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
      }

      .titulo-obra {
        font-family: $passion;
        width: 100%;
        text-transform: uppercase;
        background-color: $red;
        margin-bottom: -2px;
        position: absolute;
        bottom: 0;
        left: 0;

      }

    }
  }
}

.obra--abierta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.95);
  color: $white;
  max-height: 100vh;
  overflow-y: auto !important;


  .obra__data-container {

    &__data {
      margin-bottom: 2rem;

      h4 {
        text-transform: uppercase;
        font-family: $passion;
        color: $red;
        text-align: center;
        margin-bottom: 0;
      }

      p {
        font-size: 0.9rem;
        text-align: center;

      }

    }

    &__fotos {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 90%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .obras-container {
    &__obra {
      width: 48%;


      .titulo-obra {
        font-size: 0.9rem;
        padding: 0.3rem;
      }
    }
  }

}

@media only screen and (min-width: 641px) {
  .obras-container {
    &__obra {
      width: 48%;
      border: 4px solid $red;

      .titulo-obra {
        font-size: 1.2rem;
        padding: 0.5rem;
      }
    }
  }

  .obra--abierta {
    .obra__data-container {

      &__data {

        h4 {
          font-size: 1.6rem;
        }

        p {
          font-size: 1.1rem;
          text-align: center;
        }

      }

      &__fotos {
        img {
          width: 90%;
        }
      }
    }
  }

}

@media only screen and (min-width: 992px) {
  .obras-container {
    justify-content: flex-start;
    flex-wrap: wrap;

    &__obra {
      width: 23%;
      border: 4px solid $red;
      margin-right: 1rem;

      .titulo-obra {
        font-size: 1.2rem;
        padding: 0.5rem;
      }
    }
  }

  .obra--abierta {
    .obra__data-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__data {

        h4 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.3rem;
          text-align: center;
        }

      }

      &__fotos {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        img {
          width: 48%;
          border: 4px solid $white;
        }
      }
    }
  }

}