.quien-soy--abierto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto !important;
  background-color: rgba($color: $black, $alpha: 0.95);
  color: $white;
  display: flex;
  flex-direction: column;
  align-content: center;


  article {
    margin-bottom: 1.6rem;

    h3 {
      background-color: $red;
      color: $white;
      width: fit-content;
      padding: 3px 5px;
      font-size: 1.2rem;
    }

    p {
      font-size: 0.8rem;
      margin-left: 5px;
    }
  }


  button {
    margin: 2rem 0;
  }
}

.quien-soy {
  &__fotos {
    display: flex;
    justify-content: space-around;
    width: 100%;

    img {
      width: 40%;
      box-shadow: 8px 8px 0px 0px $black;
    }
  }

  &__texto--mobile {
    font-weight: 400;
    color: rgb(37, 37, 37);

    span {
      font-family: $poppins;
      font-weight: bolder;
      color: $black;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 640px) {
  .quien-soy {
    &__fotos {
      margin-bottom: 1.5rem;
    }

    &__texto--mobile {
      font-size: 1rem;

      span {
        font-size: 1rem;
      }
    }

    &__buttons {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 641px) {
  .quien-soy {
    &__fotos {
      margin-bottom: 2rem;
    }

    &__texto--mobile {
      width: 85%;
      font-size: 1.3rem;

      span {
        font-size: 1.3rem;
      }
    }

    &__buttons {
      width: 50%;
    }
  }

  .quien-soy--abierto {

    h3 {
      padding: 5px 8px;
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      margin-left: 8px;
    }

    button {
      margin: 2rem 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  .quien-soy--desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      margin-left: -65vw;
    }

    &__bloque {
      width: 90%;
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1.2rem;

      &__textos {
        width: 70%;

        article {
          width: 100%;
          margin-bottom: 1rem;

          h3 {
            background-color: $red;
            color: $white;
            width: fit-content;
            padding: 3px 5px;
            font-size: 1.6rem;
          }

          p {
            width: 100%;
            font-size: 1.1rem;
            margin-left: 8px;
            margin-bottom: 0;

          }
        }
      }

      img {
        width: 25%;
        max-width: 257px;
      }
    }

    button {
      margin-top: 1.3rem;
    }
  }
}