.button {
  text-decoration: none;
  color: $red;
  background-color: $black;
  border: 2px solid $red;
  border-radius: 13px;
  padding: 7px 18px;
  font-family: $passion;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px 0px $red;

  &:hover {
    color: $black;
    background-color: $red;
    box-shadow: none;
  }
}

.cerrar {
  position: absolute;
  top: 30px;
  right: 30px;
  @extend .button;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  fill: #FE3232;
}

.white {
  fill: #FFFFFF;
}

.up {
  position: sticky;
  left: 90vw;
  bottom: 10vh;
  width: fit-content;
  height: fit-content;

  svg {
    width: 30px;
  }
}

//Solo para celu
@media only screen and (max-width: 640px) {
  .button {
    padding: 7px 10px;

  }

  .cerrar {
    width: 2.2rem;
    height: 2.2rem;
    box-shadow: 1px 1px 0px 0px $red;
  }
}