body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
}

/* img {
  max-width: 80vw;
} */

section {
  padding: 2.5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: 0.9rem;
  color: rgb(41, 41, 41);
  margin: auto;
  text-align: center;
  margin: 2rem 0;

  a {
    text-decoration: none;

    span {
      font-size: 0.9rem;
      color: rgb(41, 41, 41);
    }
  }


}

@media only screen and (min-width: 992px) {
  section {
    padding-bottom: 3.5rem;
  }
}