/* $black: #0D0E09; */
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1,
h2,
.h2--blanco,
h3,
h4 {
  font-family: "Passion One", cursive;
  text-transform: uppercase;
}

p,
span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h2, .h2--blanco {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FE3232;
  color: #FFFFFF;
  padding: 4px 15px;
  box-shadow: 5px 5px 0px 0px #000000;
  margin-bottom: 2.5rem;
}

.h2--blanco {
  background-color: #FFFFFF;
  color: #FE3232;
}

@media only screen and (max-width: 640px) {
  h2, .h2--blanco {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 641px) {
  h2, .h2--blanco {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.1rem;
  }
}
@media only screen and (min-width: 992px) {
  h2, .h2--blanco {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2.3rem;
  }
}
body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
}

/* img {
  max-width: 80vw;
} */
section {
  padding: 2.5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: 0.9rem;
  color: rgb(41, 41, 41);
  margin: auto;
  text-align: center;
  margin: 2rem 0;
}
footer a {
  text-decoration: none;
}
footer a span {
  font-size: 0.9rem;
  color: rgb(41, 41, 41);
}

@media only screen and (min-width: 992px) {
  section {
    padding-bottom: 3.5rem;
  }
}
.button, .cerrar {
  text-decoration: none;
  color: #FE3232;
  background-color: #000000;
  border: 2px solid #FE3232;
  border-radius: 13px;
  padding: 7px 18px;
  font-family: "Passion One", cursive;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px 0px #FE3232;
}
.button:hover, .cerrar:hover {
  color: #000000;
  background-color: #FE3232;
  box-shadow: none;
}

.cerrar {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  fill: #FE3232;
}

.white {
  fill: #FFFFFF;
}

.up {
  position: sticky;
  left: 90vw;
  bottom: 10vh;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.up svg {
  width: 30px;
}

@media only screen and (max-width: 991px) {
  .button, .cerrar {
    padding: 7px 10px;
  }
  .cerrar {
    width: 2.2rem;
    height: 2.2rem;
    box-shadow: 1px 1px 0px 0px #FE3232;
  }
}
@media only screen and (min-width: 992px) {
  .button, .cerrar {
    padding: 10px 12px;
    font-size: 1.2rem;
  }
  .cerrar {
    width: 2.7rem;
    height: 2.7rem;
  }
}
.index {
  background-color: #000000;
  color: #FFFFFF;
}
.index .portfolio {
  font-family: "Passion One", cursive;
  color: #FE3232;
  margin-bottom: 0;
}
.index ul {
  display: flex;
  flex-wrap: wrap;
}
.index ul li {
  list-style-type: none;
  font-family: "Passion One", cursive;
}
.index .index__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3.1rem;
  }
  img {
    width: 80%;
  }
  .portfolio {
    font-size: 2.7rem;
    margin-top: 1rem;
    padding-bottom: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  ul {
    width: 100%;
    justify-content: center;
    margin-top: -0.3rem;
    margin-bottom: 1rem;
  }
  ul li {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    margin-top: -0.5rem;
  }
  .index__buttons {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) {
  h1 {
    font-size: 3.3rem;
  }
  img {
    width: 70%;
  }
  .portfolio {
    font-size: 3.3rem;
    margin-top: 1rem;
    padding-bottom: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  ul {
    width: 100%;
    justify-content: center;
    margin-top: -0.3rem;
    margin-bottom: 1rem;
  }
  ul li {
    margin-right: 0.5rem;
    font-size: 1.8rem;
    margin-top: -0.5rem;
  }
  .index__buttons {
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  .index--desktop {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 4rem 6rem;
  }
  .index--desktop img {
    width: 30%;
    max-width: 300px;
    margin-right: 3rem;
    border: 6px solid #FE3232;
  }
  .index--desktop__textos .portfolio {
    font-family: "Passion One", cursive;
    color: #FE3232;
    margin-top: -20px;
    font-size: 5.625rem;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: -40px;
  }
  .index--desktop__textos h1 {
    font-size: 6rem;
  }
  .index--desktop__textos ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: -20px;
  }
  .index--desktop__textos ul li {
    list-style-type: none;
    font-family: "Passion One", cursive;
    font-size: 1.6rem;
  }
  .index--desktop__textos .index__buttons {
    width: 90%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
  }
  .index--desktop__textos .index__buttons a {
    padding: 10px 23px;
  }
}
.quien-soy--abierto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  overflow-y: auto !important;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.quien-soy--abierto article {
  margin-bottom: 1.6rem;
}
.quien-soy--abierto article h3 {
  background-color: #FE3232;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px;
  font-size: 1.2rem;
}
.quien-soy--abierto article p {
  font-size: 0.8rem;
  margin-left: 5px;
}
.quien-soy--abierto button {
  margin: 2rem 0;
}

.quien-soy__fotos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.quien-soy__fotos img {
  width: 40%;
  box-shadow: 8px 8px 0px 0px #000000;
}
.quien-soy__texto--mobile {
  font-weight: 400;
  color: rgb(37, 37, 37);
}
.quien-soy__texto--mobile span {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #000000;
}
.quien-soy__buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .quien-soy__fotos {
    margin-bottom: 1.5rem;
  }
  .quien-soy__texto--mobile {
    font-size: 1rem;
  }
  .quien-soy__texto--mobile span {
    font-size: 1rem;
  }
  .quien-soy__buttons {
    width: 70%;
  }
}
@media only screen and (min-width: 641px) {
  .quien-soy__fotos {
    margin-bottom: 2rem;
  }
  .quien-soy__texto--mobile {
    width: 85%;
    font-size: 1.3rem;
  }
  .quien-soy__texto--mobile span {
    font-size: 1.3rem;
  }
  .quien-soy__buttons {
    width: 50%;
  }
  .quien-soy--abierto h3 {
    padding: 5px 8px;
    font-size: 1.5rem;
  }
  .quien-soy--abierto p {
    font-size: 1rem;
    margin-left: 8px;
  }
  .quien-soy--abierto button {
    margin: 2rem 0;
  }
}
@media only screen and (min-width: 992px) {
  .quien-soy--desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .quien-soy--desktop h2, .quien-soy--desktop .h2--blanco {
    margin-left: -65vw;
  }
  .quien-soy--desktop__bloque {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2rem;
  }
  .quien-soy--desktop__bloque__textos {
    width: 70%;
  }
  .quien-soy--desktop__bloque__textos article {
    width: 100%;
    margin-bottom: 1rem;
  }
  .quien-soy--desktop__bloque__textos article h3 {
    background-color: #FE3232;
    color: #FFFFFF;
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px 5px;
    font-size: 1.6rem;
  }
  .quien-soy--desktop__bloque__textos article p {
    width: 100%;
    font-size: 1.1rem;
    margin-left: 8px;
    margin-bottom: 0;
  }
  .quien-soy--desktop__bloque img {
    width: 25%;
    max-width: 257px;
  }
  .quien-soy--desktop button {
    margin-top: 1.3rem;
  }
}
.reels {
  background-color: #FE3232;
}

@media only screen and (max-width: 991px) {
  iframe {
    width: 95%;
    height: 185px;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  iframe {
    width: 85%;
    height: 600px;
    margin-bottom: 2rem;
  }
}
.galeria {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeria h2, .galeria .h2--blanco {
  box-shadow: 4px 4px 0px 0px #FFFFFF;
}
.galeria__buttons {
  display: flex;
  justify-content: center;
}
.galeria__buttons__button {
  position: relative;
  display: flex;
  justify-content: center;
  border: 4px solid #FE3232;
  border-radius: 15px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.galeria__buttons__button:hover {
  cursor: pointer;
  border: none;
  transform: scale(1.02);
}
.galeria__buttons__button img {
  width: 100%;
}
.galeria__buttons__button p {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  background-color: #FE3232;
  border-radius: 13px;
  font-family: "Passion One", cursive;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px 0px #000000;
  text-align: center;
}
.galeria__buttons__button p:hover {
  background-color: #000000;
  color: #FE3232;
  box-shadow: 3px 3px 0px 0px #FE3232;
}

.book {
  width: 100%;
}
.book__data-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.book__data-container__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book__data-container__data h4 {
  color: #FE3232;
}
.book .carousel {
  border: 4px solid #FFFFFF;
}
.book .carousel-control-prev-icon, .book .carousel-control-next-icon {
  filter: invert(40%) sepia(100%) saturate(4981%) hue-rotate(342deg) brightness(100%) contrast(100%);
}

@media only screen and (max-width: 640px) {
  .galeria__buttons {
    width: 100%;
    justify-content: space-around;
  }
  .galeria__buttons__button {
    width: 47%;
  }
  .galeria__buttons__button p {
    width: 60%;
    padding: 2px;
  }
  .book__data-container__data {
    width: 43%;
  }
  .book__data-container__data p {
    text-align: center;
  }
}
@media only screen and (min-width: 641px) {
  .galeria__buttons {
    width: 90%;
    justify-content: space-around;
  }
  .galeria__buttons__button {
    width: 45%;
  }
  .galeria__buttons__button p {
    width: 60%;
    padding: 2px;
    font-size: 1.5rem;
  }
  .book__data-container__data {
    width: 27%;
  }
  .book__data-container__data p {
    text-align: center;
  }
  .book .carousel {
    width: 80%;
  }
  .book .carousel-control-prev-icon, .book .carousel-control-next-icon {
    filter: invert(40%) sepia(100%) saturate(4981%) hue-rotate(342deg) brightness(100%) contrast(100%);
  }
}
@media only screen and (min-width: 992px) {
  .galeria__buttons {
    width: 70%;
    justify-content: space-around;
  }
  .galeria__buttons__button {
    width: 45%;
  }
  .galeria__buttons__button p {
    width: 50%;
    padding: 2px;
    font-size: 1.5rem;
  }
  .book__data-container__data {
    width: 10%;
  }
  .book__data-container__data p {
    text-align: center;
  }
  .book .carousel {
    margin-top: 2rem;
    width: 60%;
  }
  .book .carousel-control-prev-icon, .book .carousel-control-next-icon {
    filter: invert(40%) sepia(100%) saturate(4981%) hue-rotate(342deg) brightness(100%) contrast(100%);
  }
}
.trayectoria {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  color: #FFFFFF;
  max-height: 100vh;
  overflow-y: auto !important;
}
.trayectoria h3 {
  background-color: #FE3232;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 20px;
  margin-bottom: 1rem;
}
.trayectoria article {
  margin-top: 3rem;
}
.trayectoria article .accordion {
  width: 90vw;
}
.trayectoria article .accordion .accordion-item {
  background-color: transparent;
  color: #FFFFFF;
  border-bottom: 1px solid #FE3232;
}
.trayectoria article .accordion .accordion-item:hover {
  background-color: #FE3232;
}
.trayectoria article .accordion .accordion-item .accordion-button {
  background-color: #FE3232;
  color: #FFFFFF;
  box-shadow: none !important;
}
.trayectoria article .accordion .accordion-item .accordion-button:hover {
  background-color: transparent;
}
.trayectoria article .accordion .accordion-item .accordion-button.collapsed {
  background-color: transparent;
}
.trayectoria article .accordion .accordion-item .accordion-body {
  background-color: transparent;
}

@media only screen and (min-width: 641px) {
  .accordion-item .accordion-header button {
    font-size: 1.2rem;
  }
  .accordion-item .accordion-body {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 992px) {
  .trayectoria article .accordion .accordion-item .accordion-header button {
    font-size: 1.4rem;
  }
  .trayectoria article .accordion .accordion-item .accordion-body {
    font-size: 1.3rem;
  }
}
.obras {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  max-height: 100vh;
  overflow-y: auto !important;
}
.obras-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.obras-container__obra {
  border: 2px solid #FE3232;
  margin-bottom: 2rem;
  position: relative;
}
.obras-container__obra:hover {
  cursor: pointer;
}
.obras-container__obra img {
  width: 100%;
}
.obras-container__obra .titulo-obra {
  font-family: "Passion One", cursive;
  width: 100%;
  text-transform: uppercase;
  background-color: #FE3232;
  margin-bottom: -2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.obra--abierta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  max-height: 100vh;
  overflow-y: auto !important;
}
.obra--abierta .obra__data-container__data {
  margin-bottom: 2rem;
}
.obra--abierta .obra__data-container__data h4 {
  text-transform: uppercase;
  font-family: "Passion One", cursive;
  color: #FE3232;
  text-align: center;
  margin-bottom: 0;
}
.obra--abierta .obra__data-container__data p {
  font-size: 0.9rem;
  text-align: center;
}
.obra--abierta .obra__data-container__fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.obra--abierta .obra__data-container__fotos img {
  width: 90%;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 640px) {
  .obras-container__obra {
    width: 48%;
  }
  .obras-container__obra .titulo-obra {
    font-size: 0.9rem;
    padding: 0.3rem;
  }
}
@media only screen and (min-width: 641px) {
  .obras-container__obra {
    width: 48%;
    border: 4px solid #FE3232;
  }
  .obras-container__obra .titulo-obra {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .obra--abierta .obra__data-container__data h4 {
    font-size: 1.6rem;
  }
  .obra--abierta .obra__data-container__data p {
    font-size: 1.1rem;
    text-align: center;
  }
  .obra--abierta .obra__data-container__fotos img {
    width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .obras-container {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .obras-container__obra {
    width: 23%;
    border: 4px solid #FE3232;
    margin-right: 1rem;
  }
  .obras-container__obra .titulo-obra {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .obra--abierta .obra__data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .obra--abierta .obra__data-container__data h4 {
    font-size: 1.8rem;
  }
  .obra--abierta .obra__data-container__data p {
    font-size: 1.3rem;
    text-align: center;
  }
  .obra--abierta .obra__data-container__fotos {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .obra--abierta .obra__data-container__fotos img {
    width: 48%;
    border: 4px solid #FFFFFF;
  }
}
.book {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  max-height: 100vh;
  overflow-y: auto !important;
}

.foto--abierta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  max-height: 100vh;
  overflow-y: auto !important;
}

.contacto__buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.contacto__buttons .contacto__button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .contacto__button {
    width: 20%;
  }
}
@media only screen and (min-width: 641px) {
  .contacto__buttons {
    width: 60%;
  }
  .contacto__buttons .contacto__button {
    width: 20%;
  }
}
@media only screen and (min-width: 992px) {
  .contacto--desktop {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .contacto--desktop__texto {
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .contacto--desktop__buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  .contacto--desktop__buttons a {
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 13px;
    padding: 7px 18px;
    box-shadow: 3px 3px 0px 0px #000000;
    min-width: 20%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto--desktop__buttons a:hover {
    color: #000000;
    background-color: #FE3232;
    box-shadow: none;
  }
  .contacto--desktop__buttons a p {
    font-family: "Passion One", cursive;
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .contacto--desktop__buttons a img {
    height: 70%;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.whatsapp--desktop {
  background-color: green;
}

.instagram--desktop {
  background-color: #ee441e;
}

.gmail--desktop {
  background-color: #c71610;
}

.youtube--desktop {
  background-color: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-mostrar {
  display: none;
}

.book__fotos__foto,
.book__fotos__foto--ampliada {
  width: 100px;
}/*# sourceMappingURL=styles.css.map */